Mule/src/main/mule/performance.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="performance-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="performance-config" api="resource::0b0af681-4f08-47d9-b3a2-b48b1fc2ab6d:performance:1.0.0:raml:zip:performance.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="ec1c374b-0179-4c05-8387-a37064a0eaaa" >
		<http:request-connection host="putServerNameHere.cloudhub.io" port="80" />
	</http:request-config>
	<api-gateway:autodiscovery apiId="16425844" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="342b2aad-9e8d-4fad-b912-0d65e7b9a3d3" flowRef="performance-main" />
	<flow name="performance-main">
        <http:listener config-ref="performance-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="performance-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="performance-console">
        <http:listener config-ref="performance-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="performance-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\testDataWeave:performance-config">
        <set-payload value='#[output application/json
---
{
  "text1": "Text in uppercase and lowercase",
  "text2": "Red Blue Green",
  "date": "2020-10-06T00:00:00.000Z",
  "number1": 13,
  "number2": 7
}]' doc:name="Set Payload" doc:id="d27d9fb9-1b8a-497c-bf53-1c0edb91714f" />
		<logger level="INFO" doc:name="Logger" doc:id="d3f6d7b2-c84b-4b95-af15-68f4c14cfe95" message="get:\testDataWeave:performance-config 1"/>
		<ee:transform doc:name="Transform Message" doc:id="0c621c4e-4113-4b60-8d39-68ab9783c041" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
{
	date: now(),
	text1: upper(payload.text1),
	text2: substringAfterLast(payload.text2,"Blue "),
	number1: payload.number1,
	number2: payload.number2,
	sum: payload.number1+payload.number2
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\testDataWeave:performance-config 2" />
    </flow>
    <flow name="get:\testJSON:performance-config">
        <set-payload value='#[output application/json
---
{
  "text1": "Text in uppercase and lowercase",
  "text2": "Red Blue Green",
  "date": "2020-10-06T00:00:00.000Z",
  "number1": 13,
  "number2": 7
}]' doc:name="Set Payload" doc:id="4b07ef22-2ea0-4ab0-af2a-e42819079f98" />
		<logger level="INFO" message="get:\testJSON:performance-config" />
    </flow>
    <flow name="get:\testRequest:performance-config">
        <http:request method="GET" doc:name="Request" doc:id="d55c18b5-8732-421a-8dda-2beeb66fc54c" config-ref="HTTP_Request_configuration" path="/api/testJSON">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : "put_clientSecret_here",
	"client_id" : "put_clientId_here"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" message="get:\testRequest:performance-config" />
    </flow>
    <flow name="get:\testRequestDataWeave:performance-config">
        <http:request method="GET" doc:name="Request" doc:id="0d0a93cc-82ab-46d2-b448-d7dc243adc5e" config-ref="HTTP_Request_configuration" path="/api/testJSON" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : "put_clientSecret_here",
	"client_id" : "put_clienId_here"
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="3db57d0a-1e03-431c-9291-ea2e353d9f00" message="get:\testRequestDataWeave:performance-config 1"/>
		<ee:transform doc:name="Transform Message" doc:id="99972307-72bf-4d41-acb9-09225abda80c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
{
	date: now(),
	text1: upper(payload.text1),
	text2: substringAfterLast(payload.text2,"Blue "),
	number1: payload.number1,
	number2: payload.number2,
	sum: payload.number1+payload.number2
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\testRequestDataWeave:performance-config 2" />
    </flow>
</mule>
